html {
  background-color: #F3F3F3;
  color: #333;
  font-size:62.5%;
}

.centered {
  display: block;
  margin: 10% auto;
  max-width: 780px;
  position: relative;
  font-size: 1.7rem;
}

#text {
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 7% auto;
}

a:link, a:visited {
  text-decoration: none;
  color:#888;
  transition: color 0.5s linear;
}
a:hover {
  color:#444;
  cursor: pointer;
  cursor: hand;
}

.shares {
  position: absolute;
  right:0;
  margin-top: 10px;
}
#link-refresh, #link-source, #link-add {
  padding: 5px;
}
footer {
  font-family: sans-serif;
  font-size: small;
  position:absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  line-height: 1.8rem;
}